<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [mode]="sidenavMode$ | async" [opened]="sidenavOpen$ | async" [position]="sidenavPosition$ | async" class="sidenav" #sidenav>
    <mat-toolbar class="toolbar toolbar-left">
      <span>My wallet</span>
    </mat-toolbar>
    <mat-nav-list class="sidenav-panel">
      <a mat-list-item class="menu-item" *ngFor="let route of routes" [routerLink]="route.path" routerLinkActive="active"
         (click)="sidenav.mode === 'side' || sidenav.close()">
        <div class="sidenav-item">
          <mat-icon>{{ route.icon }}</mat-icon>
          <span>{{ route.label }}</span>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item class="menu-item" (click)="logout()">
        <div class="sidenav-item">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar toolbar-right">
      <button
        mat-icon-button
        aria-label="Toggle sidenav"
        *ngIf="!(isMobileApp$ | async)"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title$ | async}}</span>
    </mat-toolbar>
    <div [class.mobile]="isMobileApp$ | async">
      <router-outlet></router-outlet>
    </div>
    <div class="mobile-menu" *ngIf="isMobileApp$ | async">
      <ng-container *ngFor="let item of routes">
        <button mat-icon-button class="menu-item" *ngIf="item.main" [routerLink]="item.path" routerLinkActive="active">
          <mat-icon>{{ item.icon }}</mat-icon>
        </button>
      </ng-container>
      <button mat-icon-button class="menu-item" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
