<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="over" [opened]="false">
    <mat-nav-list>
      <a mat-list-item *ngFor="let route of routes" [routerLink]="route.path" (click)="sidenav.close()">
        <mat-icon>{{ route.icon }}</mat-icon>
        <span>{{ route.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="sidenav-content">
    <!-- Toolbar -->
    <mat-toolbar color="primary">
      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My Wallet</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>
    </mat-toolbar>

    <!-- Page Content -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
