<ng-template #loading>
  <div class="progress-bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>

<div class="home-container" [class.mobile]="isMobile$ | async" *ngIf="metrics$ | async as metrics; else loading">
  <div class="metrics">
    <app-metric type="default" text="Deuda total" icon="paid" [counter]="metrics.total"></app-metric>
    <app-metric type="warning" text="Próximo a vencer" icon="paid" [counter]="metrics.upcoming"></app-metric>
    <app-metric type="error" text="Vencido" icon="paid" [counter]="metrics.overdue"></app-metric>
  </div>

  <ng-container *ngIf="expensesWithNoBills$ | async as expenses">
    <app-info-panel type="warning">
      Aún no se cargaron los siguientes gatos fijos para el mes en curso: {{expenses}}.
    </app-info-panel>
  </ng-container>

  <div *ngIf="overdueBills$ | async as overdueBills">
    <mat-card class="section" *ngIf="overdueBills.length > 0">
      <mat-card-header>
        <mat-card-title>
          Gastos vencidos
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list *ngFor="let bill of overdueBills">
          <mat-list-item>
            <div matListItemTitle class="bill-title">
                <span>{{ bill.expense?.name }}</span>
                <span class="spacer"></span>
                <span>{{ bill.amount | currency}}</span>
            </div>
            <span matListItemLine class="bill-line">{{ bill.dueDate | date}}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="upcomingBills$ | async as upcomingBills">
    <mat-card class="section" *ngIf="upcomingBills.length > 0">
      <mat-card-header>
        <mat-card-title>
          Próximos vencimientos
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list *ngFor="let bill of upcomingBills">
          <mat-list-item>
            <div matListItemTitle class="bill-title">
              <span>{{ bill.expense?.name }}</span>
              <span class="spacer"></span>
              <span>{{ bill.amount | currency}}</span>
            </div>
            <span matListItemLine class="bill-line">{{ bill.dueDate | date}}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
