<h2 mat-dialog-title>{{ data?.id ? 'Editar Gasto' : 'Nuevo Gasto' }}</h2>
<form [formGroup]="expenseForm">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo de Pago</mat-label>
    <mat-select formControlName="paymentType">
      <mat-option value="cash">Efectivo</mat-option>
      <mat-option value="debit">Débito</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="isFixed">¿Es un gasto fijo?</mat-checkbox>
</form>
<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button [disabled]="expenseForm.invalid" (click)="save()">Guardar</button>
</div>
