@use '@angular/material' as mat;

:host {
  .form-container {
    padding: 16px;
  }

  .card {
    max-width: 400px;
    margin: auto;
  }

  .tab-content {
    padding-top: 24px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 1rem;
  }

  .remove-button {
    color: map-get(mat.$m2-red-palette, 800);
  }
}
