@use '@angular/material' as mat;

:host {
  .container {
    padding: 16px;
    border: 1px solid map-get(mat.$m2-gray-palette, 800);
    border-radius: 4px;
    color: map-get(mat.$m2-gray-palette, 800);
    background-color: #fff;

    &.warning {
      border: 1px solid map-get(mat.$m2-yellow-palette, 800);
      color: map-get(mat.$m2-yellow-palette, 800);
    }

    &.error {
      border: 1px solid map-get(mat.$m2-red-palette, 800);
      color: map-get(mat.$m2-red-palette, 800);
    }

    &.default {
      border: 1px solid map-get(mat.$m2-blue-palette, 800);
      color: map-get(mat.$m2-blue-palette, 800);
    }
  }
}
