
:host {
  padding: 16px;

  .form-container {
    max-width: 400px;
    margin: auto;

    form > * {
      width: 100%;
      display: inline-flex;
      gap: 8px;
    }

    .amount-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 8px;
      font-size: 1.1em;
      margin-bottom: 16px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 1rem;
  }
}

.panel-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
