@use '@angular/material' as mat;

:host {
  .card-content {
    padding: 8px;
  }

  .card {
    color: map-get(mat.$m2-gray-palette, 700);

    .warning {
      color: map-get(mat.$m2-yellow-palette, 700);
    }

    .error {
      color: map-get(mat.$m2-red-palette, 700);
    }

    .default {
      color: map-get(mat.$m2-blue-palette, 700);
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .first-line {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        margin: 0;
      }
    }
  }

  .suffix {
    font-size: .7em;
  }
}
