:host {
  .expenses-container {
    padding: 16px;
    display: flex;
    justify-content: center;
  }

  .expenses-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 500px;
  }

  .spacer {
    width: 100%;
  }

  .expense-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .expense-line {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    &:after, &:before {
      display: none;
    }
  }
}
