<div class="expenses-container">
  <div class="title">
    <h2>Gastos</h2>
    <button mat-fab color="primary" routerLink="/expenses/create">
      <mat-icon>add</mat-icon>
    </button>
  </div>
<!--  <button mat-raised-button color="primary" (click)="openDialog()">Add Expense</button>-->

  <ng-container *ngIf="expenses$ | async as expenses">
    <mat-card class="section" *ngIf="expenses.length > 0">
      <mat-card-content>
        <mat-list *ngFor="let expense of expenses">
          <mat-list-item>
            <div matListItemTitle class="expense-title">
              <span>{{ expense?.name }}</span>
              <span class="spacer"></span>
              <button mat-icon-button class="context-menu"
                      [matMenuTriggerFor]="contextMenu"
                      [matMenuTriggerData]="{ expense: expense }">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <span matListItemLine class="expense-line">
              <app-status-indicator
                [text]="expense.isFixed ? 'Gasto fijo' : 'Gasto variable'"
                type="info">
              </app-status-indicator>
              <app-status-indicator
                [text]="expense.paymentType === 'cash' ? 'Efectivo' : 'Débito bancario'"
                type="info">
              </app-status-indicator>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-expense="expense">
      <button mat-menu-item [routerLink]="['/expenses/edit', expense.id]">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="deleteExpense(expense.id)">
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </ng-template>
  </mat-menu>

<!--  <ng-container *ngIf="expenses$ | async as expenses">-->
<!--    <div *ngIf="expenses.length > 0" class="expense-list">-->
<!--      <mat-list>-->
<!--        <mat-list-item *ngFor="let expense of expenses">-->
<!--          <div class="expense-details">-->
<!--            <h3>{{ expense.name }}</h3>-->
<!--            <p>Type: {{ expense.paymentType }}</p>-->
<!--            <p>Status: {{ expense.isFixed ? 'Fixed' : 'Variable' }}</p>-->
<!--            <button mat-button (click)="openDialog(expense)">Edit</button>-->
<!--            <button mat-button (click)="deleteExpense(expense.id)">Delete</button>-->
<!--          </div>-->
<!--        </mat-list-item>-->
<!--      </mat-list>-->
<!--    </div>-->
<!--  </ng-container>-->
</div>
