@use '@angular/material' as mat;

:host {
  .bills-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .list-item-link {
      margin: 12px 0;
    }

    .bill-title {
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .bill-line {
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: map-get(mat.$m2-gray-palette, 600);
      font-size: 0.9rem;
    }

    .spacer {
      width: 100%;
    }

    .context-menu {
      transform: scale(.8);
      height: 20px;
      width: 20px;
      padding: 0;
    }

    .metrics {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
    }

    &.mobile {
      .metrics {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .filter-panel {
    padding: 16px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
      color: map-get(mat.$m2-blue-palette, 500);
    }

    .custom-picker {
      display: flex;
      align-items: center;
      gap: 8px;
      color: map-get(mat.$m2-blue-palette, 500);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .month-year-picker {
    mat-datepicker-content {
      .mat-calendar {
        .mat-calendar-header {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
