<div class="bills-container" [class.mobile]="isMobile$ | async">
  <div class="title">
    <h4>Cuentas por Pagar</h4>
    <button mat-fab color="primary" routerLink="/bills/create">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="month-year-picker">
    <mat-form-field>
      <mat-label>Mes y Año</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [readonly]="true"
        [value]="selectedDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="multi-year"
        (monthSelected)="selectMonthAndYear($event, picker)"
        panelClass="month-year-picker-panel"
      ></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="metrics" *ngIf="metrics$ | async as metrics">
    <app-metric type="default" text="Total" [counter]="metrics.total"></app-metric>
    <app-metric text="Efectivo" [counter]="metrics.cash"></app-metric>
    <app-metric text="Débito" [counter]="metrics.debit"></app-metric>
  </div>

  <ng-container *ngIf="expensesWithNoBills$ | async as expenses">
    <app-info-panel type="warning">No se cargaron los siguientes gatos fijos: {{expenses}}.</app-info-panel>
  </ng-container>

  <ng-container *ngIf="cashBills$ | async as cashBills">
    <ng-template
      [ngTemplateOutlet]="billsTemplate"
      [ngTemplateOutletContext]="{ title: 'Efectivo', bills: cashBills }">
    </ng-template>
  </ng-container>

  <ng-container *ngIf="debitBills$ | async as debitBills">
    <ng-template
      [ngTemplateOutlet]="billsTemplate"
      [ngTemplateOutletContext]="{ title: 'Débito', bills: debitBills }">
    </ng-template>
  </ng-container>

  <ng-template #billsTemplate let-title="title" let-bills="bills">
    <mat-card class="section" *ngIf="bills.length > 0">
      <mat-card-header>
        <mat-card-title>
          {{ title }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list *ngFor="let bill of bills">
          <mat-list-item>
            <div matListItemTitle class="bill-title">
              <span>{{ bill.expense?.name }}</span>
              <span class="spacer"></span>
              <span>{{ bill.amount | currency}}</span>
              <button mat-icon-button class="context-menu"
                      [matMenuTriggerFor]="contextMenu"
                      [matMenuTriggerData]="{ bill: bill }">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <span matListItemLine class="bill-line">
              <span>{{ bill.dueDate | date}}</span>
              <span class="spacer"></span>
              <ng-container *ngIf="bill.isPaid; else pendingTemplate">
                <app-status-indicator text="Pagado"></app-status-indicator>
              </ng-container>
              <ng-template #pendingTemplate>
                <ng-container *ngIf="bill.dueDate >= today; else overdueTemplate">
                  <app-status-indicator text="Pendiente" type="warning"></app-status-indicator>
                </ng-container>
                <ng-template #overdueTemplate>
                  <app-status-indicator text="Vencido" type="error"></app-status-indicator>
                </ng-template>
              </ng-template>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </ng-template>

  <mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-bill="bill">
    <button mat-menu-item [routerLink]="['/bills/edit', bill.id]">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
    <button mat-menu-item (click)="deleteBill(bill.id)">
      <mat-icon>delete</mat-icon>
      <span>Eliminar</span>
    </button>
    </ng-template>
  </mat-menu>
</div>
