<ng-template #loading>
  <div class="progress-bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>

<div class="bills-container" [class.mobile]="isMobile$ | async" *ngIf="metrics$ | async as metrics; else loading">
  <div class="page-actions">
    <button mat-icon-button routerLink="/bills/create">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="month-year-picker">
    <mat-form-field>
      <mat-label>Mes y Año</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [readonly]="true"
        [value]="selectedDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="multi-year"
        (monthSelected)="selectMonthAndYear($event, picker)"
        panelClass="month-year-picker-panel"
      ></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="metrics">
    <app-metric type="default" text="Total" icon="paid" [counter]="metrics.total"></app-metric>
    <app-metric text="Efectivo" icon="paid" [counter]="metrics.cash"></app-metric>
    <app-metric text="Débito" icon="paid" [counter]="metrics.debit"></app-metric>
  </div>

  <ng-container *ngIf="expensesWithNoBills$ | async as expenses">
    <app-info-panel type="warning">No se cargaron los siguientes gatos fijos: {{expenses}}.</app-info-panel>
  </ng-container>

  <ng-container *ngIf="cashBills$ | async as cashBills">
    <ng-template
      [ngTemplateOutlet]="billsTemplate"
      [ngTemplateOutletContext]="{ title: 'Efectivo', bills: cashBills }">
    </ng-template>
  </ng-container>

  <ng-container *ngIf="debitBills$ | async as debitBills">
    <ng-template
      [ngTemplateOutlet]="billsTemplate"
      [ngTemplateOutletContext]="{ title: 'Débito', bills: debitBills }">
    </ng-template>
  </ng-container>

  <ng-template #billsTemplate let-title="title" let-bills="bills">
    <mat-card class="section" *ngIf="bills.length > 0">
      <mat-card-header>
        <mat-card-title>
          {{ title }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-nav-list>
          <a mat-list-item *ngFor="let bill of bills" class="list-item-link"
             [routerLink]="['/bills/edit', bill.id]">
            <div>
              <div class="bill-title">
                <span>{{ bill.expense?.name }}</span>
                <span class="spacer"></span>
                <span>{{ bill.amount | currency}}</span>
              </div>
              <div class="bill-line">
                <span>{{ bill.dueDate | date}}</span>
                <span class="spacer"></span>
                <ng-container *ngIf="bill.isPaid; else pendingTemplate">
                  <app-status-indicator text="Pagado"></app-status-indicator>
                </ng-container>
                <ng-template #pendingTemplate>
                  <ng-container *ngIf="bill.dueDate >= today; else overdueTemplate">
                    <app-status-indicator text="Pendiente" type="warning"></app-status-indicator>
                  </ng-container>
                  <ng-template #overdueTemplate>
                    <app-status-indicator text="Vencido" type="error"></app-status-indicator>
                  </ng-template>
                </ng-template>
              </div>
            </div>
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
